<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Some Website</title>
</head>
<body>
    {{> header}}

    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>

 {{> footer}}
</body>
</html>