<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Project Lists</title>
</head>
<body>
    {{> header}}

    <ul>
        <li>First Project</li>
    </ul>

 {{> footer}}
</body>
</html>